<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- Convert joint states to TF transforms: not working on ARM -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
      respawn="false" output="screen"/>

    <!-- Run rviz -->
    <node name="rviz" pkg="rviz" type="rviz"
      respawn="false" output="screen" args="-d /home/ubuntu/.rviz/turtle.rviz"/>
</launch>
